.home-container {
	text-align: center;
	margin-top: 50px;
}

.home-buttons {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	gap: 20px;
}

.home-buttons button {

	padding: 10px 20px;
	background-color: #449eff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

.home-buttons button:hover {
	background-color: #0056b3;
}

h1 {
	color: #333
}

.success-message {
	color: #28a745;
	margin-top: 10px;
}
