body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Martian Mono', monospace;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

 button {
	border: 1px solid transparent;
	border-radius: 20px;
	background: #449eff;
	color: #FFF;
	font-size: 10px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: background-color 0.3s ease;
	cursor: pointer;
}

button:hover {
	background-color: rgb(0, 76, 157);
}
